
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <!-- Add your CSS styles here if needed -->
</head>
<body>

  <h2>Welcome to Your Dashboard, {{ user.username }}</h2>
  
  <nav>
    <ul>
      <a href="{% url 'my_account' %}">My Account</a>
      <a href="{% url 'my_bookings' %}">My Bookings</a>
      <a href="{% url 'book_station' %}">Book station</a>
    </ul>
  </nav>

  <!-- Add more content as needed -->

  <button><a href="{%url 'login'%}">Log out</a></button>

</body>
</html>
