{% extends 'dashboard.html' %}

{% block content %}
  <h2>Welcome to Your Dashboard, {{ user.username }}</h2>
  
  <section id="my-account-section">
    <h3>My Account</h3>

    <!-- Display user information -->
    <p>Email: {{ user.email }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Phone Number: {{ user.userprofile.phone_number }}</p>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="profile-picture">Upload Profile Picture:</label>
      <input type="file" name="profile_picture" accept="image/*">
      <button type="submit">Upload</button>
    </form>

    <!-- Form to edit email -->
    <form method="post">
      {% csrf_token %}
      <label for="email">Edit Email:</label>
      <input type="email" name="email" value="{{ user.email }}">
      <button type="submit">Save</button>
    </form>

    <!-- Form to change username -->
    <form method="post">
      {% csrf_token %}
      <label for="username">Change Username:</label>
      <input type="text" name="username" value="{{ user.username }}">
      <button type="submit">Save</button>
    </form>

    <!-- Form to change password -->
    <form method="post">
      {% csrf_token %}
      <label for="password">Change Password:</label>
      <input type="password" name="password">
      <button type="submit">Save</button>
    </form>

    <form method="post">
      {% csrf_token %}
      <label for="phone-number">Input Phone Number:</label>
      <input type="text" name="phone_number" value="{{ user.userprofile.phone_number }}">
      <button type="submit">Save</button>
    </form>

  </section>
  <button><a href="{% url 'login' %}">Log out</a></button>

{% endblock %}
